.pool {
  margin: 2rem auto;
  border-radius: 15px;
  // box-shadow: var(--box-shadow);
  padding: 2rem;

  .labels {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    height: 75px;
    position: relative;
    .name-label {
      width: 200px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-right: none;
      padding-left: 1rem;

    }
    .label-box {
      min-width: 85px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border: 1px solid lightgray;
      height: 100%;
    }
  }

  .all-picks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    flex-direction: column;
    .user-pick-box {
      display: flex;
      align-items: center;
      .user-email {
        width: 200px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1rem;
      }
      .user-pick {
        display: flex;
        align-items: center;
        justify-content: center;

        .picked-logo {
          min-width: 85px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          border: 1px solid lightgray;
          height: 100%;
          padding: 0.25rem 0.5rem;
          .logo {
            max-width: 40px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .pool {
    width: 100%;
    overflow-x: auto;
    padding: 1rem 0;
    box-shadow: none;
    overflow-x: scroll;
    .label-container {
      display: flex;
      height: 100px;
      align-items: center;
      
      .labels {
        display: flex;
        margin: 0 auto;
        width: 100%;
        justify-content: space-between;
        .name-label {
          min-width: 125px;
          background-color: #fff;
        }
        .label-box {
          min-width: 85px;
          background-color: #fff;
        }
      }
    }

    .all-picks {
      display: flex;
      align-items: center;
      margin: 0;
      .user-pick-box {
        display: flex;
        margin: 0 auto;
        width: 100%;
        justify-content: space-between;
        .user-email {
          overflow-x: hidden;
          max-width: 125px;
          font-size: 12px;

          border-right: none;
          height: 47px;
          background-color: #fff;
        }

        .picked-logo {
          width: 100%;
          display: flex;
        }
      }
    }
  }
}
