.home-page {
  width: 80%;
  position: relative;
  margin-left: auto;
  display: flex;
  height: calc(100% - 140px);
  padding: 1rem;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    .home-text {
      position: relative;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 2rem;
      }
      .how-to {
        position: absolute;
        bottom: 0;
        margin-top: 1rem;
        p {
          margin-left: -1.1rem;
        }
        ol li {
          font-size: 1.4rem;
          margin-left: 1rem;
          margin-top: 1rem;
        }
      }
    }
    .btn-container-home {
      display: flex;
      width: 70%;
      height: 40%;
      align-items: center;
      margin-top: 2rem;
      justify-content: flex-start;


      .btn {
        width: 250px;
        padding: 10px 30px;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        box-shadow: var(--box-shadow);
        border-radius: 4px;
        background-color: var(--black);
        margin-right: 1rem;
        color: white;
        cursor: pointer;
        border: 0;
        &:hover {
          box-shadow: none;
          border: 1px solid lightgray;
        }
      }
    }
  }
  .right {
    height: 100%;
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
    .frame {
      width: 100%;
      height: 70%;
      display: flex;
      align-items: center;
      img {
        max-width: 110%;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .home-page {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    .left {
      .home-text {
        text-align: left;
        width: 100%;
        h1 {
          font-size: 2.2rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
    

    .btn-container {
      display: flex;
      flex-direction: column;
      position: relative;
      bottom: 5%;
      background: rgb(237, 238, 240);

      a {
        border: 1px solid black;
        padding: 10px 30px;
        margin-bottom: 1rem;
        background-color: var(--black);
        color: white;
        font-weight: 300;
        border-radius: 5px;
      }
    }
  }
}
