:root {
 --primary-color: #f5f5f5;
 --secondary-color: #18408B;
 --accent-color: #C9092A;
 --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.03);
 --dark-color: #e7e6e6;
 --text-light: #ffffff;
 --danger-color: #EF4056;
 --black: #1e1e1e;
}